@import "tailwindcss";

:root {
  --background: #F1E4D3;
  --foreground: #39240F;
  --accent: #4A2C40;
  --accent-foreground: #F1E4D3;
  --card: #EAD8C3;
  --card-foreground: #39240F;
  --intro-background: #e7d0b0;
  --other-accent: #5f4356;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --font-serif: var(--font-body);
  --font-heading: var(--font-heading);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}

@keyframes special-letter {
  50% {
    color: var(--accent);
    text-shadow: 0 0 6px color-mix(in srgb, var(--accent) 60%, transparent);
  }

  100% {
    color: var(--foreground);
    text-shadow: 0 0 6px color-mix(in srgd, var(--foreground) 60%, transparent);
  }
}

.special-letter {
  display: inline-block;
  animation: special-letter 3s ease-in-out infinite;
  font-weight: 700;
}

.contrast-purple {
  color: var(--accent);
  text-shadow: 0 0 6px color-mix(in srgb, var(--accent) 60%, transparent);
}

.contrast-brown {
  color: var(--foreground);
  text-shadow: 0 0 6px color-mix(in srgb, var(--foreground) 60%, transparent);
}