@import "tailwindcss";

:root {
  --background: #F1E4D3;
  --foreground: #39240F;
  --accent: #4A2C40;
  --accent-foreground: #F1E4D3;
  --card: #EAD8C3;
  --card-foreground: #39240F;
  --intro-background: #e7d0b0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --font-serif: var(--font-body);
  --font-heading: var(--font-heading);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}
